pulumi_content: |-
  #!/bin/sh

  pulumi preview
  pulumi up
pulumi_git_path: /
pulumi_uninstall: |
  #!/bin/sh
app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
app_deploy:
  type: None
  content: ''
app_test: []
app_uninstall:
  type: None
  content: ''
app_docker_compose: ''
build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
deploy:
  type: text
  content: |+
    #/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
lastUpdatedBy: Bhavika Baid
lastUpdatedOn: 2023-01-16T07:45:48.019Z
