pulumi_content: |-
  #!/bin/sh

  pulumi preview
  pulumi up
pulumi_git_path: /
pulumi_uninstall: |
  #!/bin/sh
app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
app_deploy:
  type: None
  content: ''
app_test: []
app_uninstall:
  type: None
  content: ''
app_docker_compose: ''
build:
  type: None
  content: ''
deploy:
  type: None
  content: ''
test: []
uninstall:
  type: None
  content: ''
dockerCompose: ''
lastUpdatedBy: Bhavika Baid
lastUpdatedOn: 2023-01-16T07:48:34.784Z
