build:
  type: None
  content: ''
deploy:
  type: None
  content: ''
test: []
uninstall:
  type: None
  content: ''
dockerCompose: ''
pulumi_content: |-
  #!/bin/sh

  pulumi up
pulumi_git_path: /
pulumi_uninstall: |-
  #!/bin/sh
  pulumi destroy
lastUpdatedBy: Bhavika Baid
lastUpdatedOn: 2023-06-13T10:07:23.621Z
